@import '../../../node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import './variables.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  .ant-layout {
    background-color: @body-background;
  }

  .ant-menu {
    background-color: transparent;
  }

  .ant-drawer-content-wrapper {
    max-width: 100%;
  }

  .ant-back-top {
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-drawer-body {
    .ant-menu-sub.ant-menu-inline {
      background-color: transparent;
    }
  }

  header {
    .is-open {
      background-color: @body-background;
    }
  }

  &.dark {
    // TODO: Something not right, fix it

    @import './dark.less';

    .ant-layout {
      background-color: @body-background;
    }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
      border-bottom: none;
    }

    .ant-menu-horizontal > .ant-menu-item a {
      color: #ffffffd9;
    }

    header {
      .is-open {
        background-color: @body-background;
      }
    }

    .ant-menu {
      box-shadow: none;

      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: transparent;
        color: #ffffffd9;
      }
    }

    .ant-menu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: @primary-2;
    }

    header {
      ul.is-open {
        .ant-menu-item-selected {
          background-color: transparent;
        }
      }
    }

    .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: @primary-2;
    }
  }
}

nz-layout.inner {
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 66px);
}

nz-content.inner-content {
  padding: 0 25px;
}

.w-100 {
  width: 100%;
}

.p-3 {
  padding: 0 10px !important;
}

.mt-3 {
  margin-top: 15px;
}

.m-0 {
  margin: 0;
}

.pr-3 {
  padding-right: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.start {
  justify-content: flex-start;
}

.space-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 10px;
}

.flag {
  width: 24px;
  height: 24px;
}

.ngx-charts-outer {
  margin: auto;
}

::-webkit-scrollbar {
  width: @scrllbar-thicc;
  height: @scrllbar-thicc;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-lifted);
}
